[data]
name = "Maximilian Remming"
email = "maximilian@remming.fi"
email_work = "maximilian@reaktor.fi"

pacman_pkgs = [
    "bash-completion",
    "bash",
    "curl",
    "fd",
    "fzf",
    "git-delta",
    "git",
    "github-cli",
    "helix",
    "jq",
    "man",
    "nano",
    "openssh",
    "pandoc",
    "ripgrep",
    "rsync",
    "starship",
    "tree",
    "wget",
    "youtube-dl",

    # compression
    "atool",
    "bzip2",
    "cpio",
    "gzip",
    "lha",
    "xz",
    "lzop",
    "p7zip",
    "tar",
    "unace",
    "unrar",
    "zip",
    "unzip",

    # images and videos
    "imagemagick",
    "ffmpeg",
    "gifsicle",

    # dev
    "base-devel",
    "clang",
    "dnsutils",
    "docker",
    "gcc",
    "ninja",
    "shellcheck",
    "strace",
    "traceroute",
    "whois",

    "ruby",
    "racket",
    "go",

    # python
    "python",
    "ipython",
    "mypy",
    "jupyterlab",
    "python-pip",
    "python-poetry",
    "python-pipenv",
    "python-black",
    "python-ruff",
    "python-pytest",
    "python-boto3",
    "python-requests",
    "python-numpy",
    "python-pillow",

    # nodejs
    "nodejs-lts-gallium",
    "npm",
    "yarn",
]
