[data]
name = "Maximilian Remming"
email = "maximilian@remming.fi"
email_work = "maximilian.remming@sok.fi"

pacman_pkgs = [
    "bat",
    "bash-completion",
    "bash",
    "curl",
    "fd",
    "fzf",
    "git-delta",
    "git",
    "github-cli",
    "helix",
    "jq",
    "man",
    "nano",
    "openssh",
    "pandoc",
    "ripgrep",
    "rsync",
    "starship",
    "tree",
    "wget",
    "yt-dlp",

    # compression
    "atool",
    "bzip2",
    "cpio",
    "gzip",
    "lha",
    "xz",
    "lzop",
    "p7zip",
    "tar",
    "unace",
    "unrar",
    "zip",
    "unzip",

    # images and videos
    "imagemagick",
    "ffmpeg",
    "gifsicle",

    # dev
    "base-devel",
    "clang",
    "dnsutils",
    "docker",
    "gcc",
    "ninja",
    "shellcheck",
    "strace",
    "traceroute",
    "whois",
    "postgresql",
    "redis",
    "nss",

    "ruby",
    "racket",
    "go",

    # python
    "python",
    "ipython",
    "mypy",
    "jupyterlab",
    "python-pip",
    "python-poetry",
    "python-pipenv",
    "python-black",
    "python-ruff",
    "python-pytest",
    "python-boto3",
    "python-requests",
    "python-pillow",

    # python notebooks
    "python-numpy",
    "python-matplotlib",
    "python-pandas",
    "python-scipy",
    "python-networkx",
    "python-pytorch",
    "python-tensorflow",

    # nodejs
    "nodejs-lts-iron",
    "npm",
    "yarn",
]
