[data]
name = "Maximilian Remming"
email = "maximilian@remming.fi"
email_work = "maximilian.remming@albertineapp.com"

homebrew_pkgs = [
    "bash",
    "bash-completion@2",
    "starship",
    "fzf",
    "fd",
    "bat",
    "tree",
    "eza",

    "chezmoi",
    "git",
    "gh",
    "helix",
    "jq",
    "ripgrep",
    "git-delta",
    "rclone",
    "watch",
    "wget",
    "1password-cli",
]

dnf_pkgs = [
    "bat",
    "bash-completion",
    "bash",
    "eza",
    "fd-find",
    "fzf",
    "git-delta",
    "git",
    "gh",
    "helix",
    "jq",
    "lazygit", # from COPR atim/lazygit
    "ripgrep",
    "starship", # from COPR atim/starship
]
