[user]
	email = {{ .email_work }}
	name = {{ .name }}

{{- $awsPath := lookPath "aws" }}
{{ if $awsPath }}
[credential]
helper = !{{ $awsPath }} codecommit credential-helper $@
UseHttpPath = true
{{- end }}
