export LANG="en_US.UTF-8"

{{ if eq .chezmoi.os "linux" }}
export SHELL="/bin/bash"
{{ end }}

{{ if eq .chezmoi.os "linux" }}
export EDITOR="helix"
alias hx=helix
{{ else }}
export EDITOR="hx"
alias helix=hx
{{ end }}

export PAGER="less"

{{ if eq .chezmoi.os "linux" }}
export BROWSER="cmd.exe /\c start chrome"
{{ else if eq .chezmoi.os "darwin" }}
export BROWSER="open"
{{ end }}

# --- PATH CHANGES ---

# private bins
PATH="$HOME/bin:$HOME/.local/bin:$PATH"
PATH="$HOME/.cargo/bin:$PATH"
PATH="$HOME/go/bin:$PATH"

{{ if eq .chezmoi.os "darwin" | and (isExecutable "/opt/homebrew/bin/brew") }}
eval "$(/opt/homebrew/bin/brew shellenv)"

# TODO: remove these once builds are fixed in Albertine
export PATH="/opt/homebrew/opt/postgresql@15/bin:$PATH"
export PATH="/opt/homebrew/opt/openjdk/bin:$PATH"
{{ end }}

export PATH
