#!/bin/bash

set -euo pipefail

# starship and lazygit are not in the official Fedora repos
sudo dnf copr enable -y atim/starship
sudo dnf copr enable -y atim/lazygit

sudo dnf install -y --refresh
{{- range .dnf_pkgs | sortAlpha | uniq | quoteList }} {{ . }}{{ end }}
